!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Show me Lyrics ... now!
    %link{:rel => "stylesheet", :href => "css/master.css" }

  %body
    %header.branding
      %h3.logo
        %a{ :href => "/" } Show me the lyrics

    .main-content
      .intro
        %p
          Just enter the name of the artist and the song and we will search the lyrics for you.
      .content
        %form{ :action => "/", :method => "post", :class => "lyrics-search-form" }
          %input{ :type => "text", :name => "artist", :placeholder => "Artist name", :class => ("missing" if @missing_artist), :value => (@input_artist if @input_artist) }
          %input{ :type => "text", :name => "song", :placeholder => "Song name", :class => ("missing" if @missing_song), :value => (@input_song if @input_song) }
          %p
            %input{ :type => "submit", :value => "Find my lyrics" }

    - if @song
      .song
        %h3.song-title= @song.title
        %h4.song-author= @song.author
        = @song.lines.join("<br />")
    - if @message
      .song
        %h3= @message
